.container{
display: flex;
max-width: 1200px;
    height: 436px;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.12);
border-radius: 20px;
    background-image: url(https://i.imgur.com/vwWXYVo.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

}
.card{
 
height: 90%;
background: rgba(255, 255, 255, 0.62);
border-radius: 15px;
margin: auto;
display: grid;
grid-template-columns: minmax(75px, 300px) minmax(75px, 100px) minmax(75px, 300px);
grid-template-rows: repeat(2,1fr);
}
.logo{
    display: grid;
    place-items:right;
}
.line{
    content: url(/src/assets/line.svg);
    display: grid;
    place-self: center;
  
}
.logoo{
    width: 20rem;
    height: 10rem;
}
.rol{
    display: grid;
    align-self: center;
    justify-self: left;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Monoton', cursive;
    line-height: 59px;
    color: #000000; 
    animation-name: rol ;
    animation-duration:4s;
}
.redes{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 50%;
    margin: auto;
}

@keyframes rol {
   
    25%{
        -webkit-background-clip:text;
        background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
        color: transparent;
    }
  
    50%{
        color: #000000; 
    }
    75%{
        -webkit-background-clip:text;
        background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
        color: transparent;
    }
   
    
}
.description{
    margin: auto;
    margin-top: 0px;
    width: 90%;
    grid-column: 1 / 4;
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight:100;

}
@media screen and (max-width:768px){
    .redes{
        display: none;
    }
    .container{
        height: 550px;
        width: 90%;
        margin-bottom: 53px;
    }
    .logoo{
        width: 13rem;
        display: grid;
        justify-content: end;
        align-self: start;
        height: 10rem;
    }
    .card{
        width: 90%;
       border-radius: 23px;
       grid-template-columns: minmax(200px, 1fr);
       grid-template-rows: 115px 13px 50px minmax(200px, 400px);
       }
       .line{
        rotate: 90deg;
       }
       .rol{
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        place-self: start end;
        margin-right: 30px;
        
       }
       .description{
        margin: auto;
        margin-top: 0px;
        width: 90%;
        grid-column: 1 / 1;
    }


}
