.menu_boton{
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 8px 48px 0 rgb(0 0 0 / 12%);
}

.Navbar{
    position: fixed;
    left: 0%;
    top: 32px;
    right: 0%;
    bottom: auto;
    z-index: 20;
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.image_perfil{
    object-fit: cover;
    overflow: hidden;
}